<p-dialog
	*ngIf="exibirFormulario"
	[(visible)]="exibirFormulario"
	[modal]="true"
	[contentStyle]="{ overflow: 'visible' }"
	header="Cadastro de Funcionário"
	styleClass="min-w-max w-6">
	<form class="flex flex-column gap-3">
		<!-- Linha 1 -->
		<div class="flex flex-row gap-3">
			<!-- Nome -->
			<div class="flex flex-column w-full">
				<label for="funcionario.pessoa.nome">Nome: <b style="color: red">*</b></label>
				<input
					type="text"
					pInputText
					#funcionarioPessoaNome="ngModel"
					name="funcionario.pessoa.nome"
					data-cy="funcionario.pessoa.nome"
					[(ngModel)]="funcionario.pessoa.nome"
					[required]="true" />
				<small
					*ngIf="validacaoCamposService.campoInvalido(funcionarioPessoaNome)"
					style="color: red">
					<b>Nome Inválido!</b>
				</small>
			</div>

			<!-- Tipo de Pessoa -->
			<div class="flex flex-column w-full">
				<label for="funcionario.pessoa.tipoPessoa">Tipo de Pessoa: <b style="color: red">*</b></label>
				<p-dropdown
					#funcionarioPessoaTipoPessoa="ngModel"
					name="funcionario.pessoa.tipoPessoa"
					data-cy="funcionario.pessoa.tipoPessoa"
					[(ngModel)]="funcionario.pessoa.tipoPessoa"
					[options]="tiposPessoas"
					[required]="true"
					(onChange)="modificarMascaraCpfOuCnpj()"
					styleClass="w-full" />
				<small
					*ngIf="validacaoCamposService.campoInvalido(funcionarioPessoaTipoPessoa)"
					style="color: red">
					<b>Tipo Pessoa Inválido!</b>
				</small>
			</div>

			<!-- CPF / CNPJ -->
			<div class="flex flex-column w-full">
				<label for="funcionario.pessoa.cpfOuCnpj">CPF / CNPJ: <b style="color: red">*</b></label>
				<p-inputMask
					#funcionarioPessoaCpfOuCnpj="ngModel"
					name="funcionario.pessoa.cpfOuCnpj"
					data-cy="funcionario.pessoa.cpfOuCnpj"
					[(ngModel)]="funcionario.pessoa.cpfOuCnpj"
					[mask]="mascaraCpfCnpj"
					[required]="true"
					styleClass="w-full" />
				<small
					*ngIf="validacaoCamposService.campoInvalido(funcionarioPessoaCpfOuCnpj)"
					style="color: red">
					<b>CPF / CNPJ Inválido!</b> Os formatos devem ser:<br />
					<b>CPF:</b> 123.456.789-01<br />
					<b>CNPJ:</b> 12.345.678/9012-34!
				</small>
			</div>
		</div>

		<!-- Linha 2 -->
		<div class="flex flex-row gap-3">
			<!-- Telefone -->
			<div class="flex flex-column w-full">
				<label for="funcionario.pessoa.telefone">Telefone: <b style="color: red">*</b></label>
				<p-inputMask
					#funcionarioPessoaTelefone="ngModel"
					name="funcionario.pessoa.telefone"
					data-cy="funcionario.pessoa.telefone"
					[(ngModel)]="funcionario.pessoa.telefone"
					[required]="true"
					mask="(99)99999-999?9"
					styleClass="w-full" />
				<small
					*ngIf="validacaoCamposService.campoInvalido(funcionarioPessoaTelefone)"
					style="color: red">
					<b>Telefone Inválido!</b> Os formatos devem ser:<br />
					<b>Celular:</b> (12)3456-7890<br />
					<b>Fixo:</b> (12)34567-8901
				</small>
			</div>

			<!-- E-Mail -->
			<div class="flex flex-column w-full">
				<label for="funcionario.pessoa.email">E-Mail:</label>
				<input
					type="text"
					pInputText
					#funcionarioPessoaEmail="ngModel"
					name="funcionario.pessoa.email"
					data-cy="funcionario.pessoa.email"
					[(ngModel)]="funcionario.pessoa.email" />
			</div>

			<!-- Estado -->
			<div class="flex flex-column w-full">
				<label for="funcionario.pessoa.estadoBrasileiro">Estado:</label>
				<p-dropdown
					#funcionarioEstadoBrasileiro="ngModel"
					name="funcionario.pessoa.estadoBrasileiro"
					data-cy="funcionario.pessoa.estadoBrasileiro"
					[(ngModel)]="funcionario.pessoa.estadoBrasileiro"
					placeholder="Selecione um estado"
					[options]="estadosBrasileiro"
					styleClass="w-full" />
			</div>
		</div>

		<!-- Linha 3 -->
		<div class="flex flex-row gap-3">
			<div class="flex flex-column w-full">
				<label for="funcionario.login">Login: <b style="color: red">*</b></label>
				<input
					type="text"
					pInputText
					#funcionarioLogin="ngModel"
					name="funcionario.login"
					data-cy="funcionario.login"
					[(ngModel)]="funcionario.login"
					[required]="true"
					[maxlength]="30" />
				<small
					*ngIf="validacaoCamposService.campoInvalido(funcionarioLogin)"
					style="color: red">
					<b>Log-In Inválido!</b>
				</small>
			</div>

			<!-- Senha -->
			<div class="flex flex-column w-full">
				<label for="funcionario.senha">Senha: <b style="color: red">*</b></label>
				<input
					type="text"
					pInputText
					#funcionarioSenha="ngModel"
					name="funcionario.senha"
					data-cy="funcionario.senha"
					[(ngModel)]="funcionario.senha"
					[required]="true"
					[maxlength]="30" />
				<small
					*ngIf="validacaoCamposService.campoInvalido(funcionarioSenha)"
					style="color: red">
					<b>Senha Inválida!</b>
				</small>
			</div>

			<!-- Comissão -->
			<div class="flex flex-column w-full">
				<label for="funcionario.comissao">Comissão: <b style="color: red">*</b></label>
				<p-inputNumber
					#funcionarioComissao="ngModel"
					name="funcionario.comissao"
					data-cy="funcionario.comissao"
					[(ngModel)]="funcionario.comissao"
					[max]="100"
					[min]="0"
					[step]="1"
					[required]="true"
					[allowEmpty]="false"
					[showButtons]="true"
					suffix="%"
					spinnerMode="horizontal"
					buttonLayout="horizontal"
					incrementButtonIcon="pi pi-plus"
					decrementButtonIcon="pi pi-minus"
					decrementButtonClass="p-button-danger"
					incrementButtonClass="p-button-success" />
			</div>
		</div>

		<!-- Salvar -->
		<p-button
			#funcionarioSalvar
			name="funcionario-salvar"
			data-cy="funcionario-salvar"
			[disabled]="funcionarioInvalido()"
			(onClick)="salvarFuncionario()"
			label="Salvar Funcionário"
			styleClass="w-full" />
	</form>
</p-dialog>
