<p-dialog
	*ngIf="exibirFormulario"
	[(visible)]="exibirFormulario"
	[modal]="true"
	[contentStyle]="{ overflow: 'visible' }"
	header="Cadastro de Fornecedor"
	styleClass="min-w-max w-6">
	<form class="flex flex-column gap-3">
		<!-- Linha 1 -->
		<div class="flex flex-row gap-3">
			<!-- Nome -->
			<div class="flex flex-column w-full">
				<label for="fornecedor.pessoa.nome">Nome: <b style="color: red">*</b></label>
				<input
					type="text"
					pInputText
					#fornecedorPessoaNome="ngModel"
					name="fornecedor.pessoa.nome"
					data-cy="fornecedor.pessoa.nome"
					[(ngModel)]="fornecedor.pessoa.nome"
					[required]="true" />
				<small
					*ngIf="validacaoCamposService.campoInvalido(fornecedorPessoaNome)"
					style="color: red">
					<b>Nome Inválido!</b>
				</small>
			</div>

			<!-- Tipo de Pessoa -->
			<div class="flex flex-column w-full">
				<label for="fornecedor.pessoa.tipoPessoa">Tipo de Pessoa: <b style="color: red">*</b></label>
				<p-dropdown
					#fornecedorPessoaTipoPessoa="ngModel"
					name="fornecedor.pessoa.tipoPessoa"
					data-cy="fornecedor.pessoa.tipoPessoa"
					[(ngModel)]="fornecedor.pessoa.tipoPessoa"
					[options]="tiposPessoas"
					[required]="true"
					(onChange)="modificarMascaraCpfOuCnpj()"
					styleClass="w-full" />
				<small
					*ngIf="validacaoCamposService.campoInvalido(fornecedorPessoaTipoPessoa)"
					style="color: red">
					<b>Tipo Pessoa Inválido!</b>
				</small>
			</div>

			<!-- CPF / CNPJ -->
			<div class="flex flex-column w-full">
				<label for="fornecedor.pessoa.cpfOuCnpj">CPF / CNPJ: <b style="color: red">*</b></label>
				<p-inputMask
					#fornecedorPessoaCpfOuCnpj="ngModel"
					name="fornecedor.pessoa.cpfOuCnpj"
					data-cy="fornecedor.pessoa.cpfOuCnpj"
					[(ngModel)]="fornecedor.pessoa.cpfOuCnpj"
					[mask]="mascaraCpfCnpj"
					[required]="true"
					styleClass="w-full" />
				<small
					*ngIf="validacaoCamposService.campoInvalido(fornecedorPessoaCpfOuCnpj)"
					style="color: red">
					<b>CPF / CNPJ Inválido!</b> Os formatos devem ser:<br />
					<b>CPF:</b> 123.456.789-01<br />
					<b>CNPJ:</b> 12.345.678/9012-34!
				</small>
			</div>
		</div>

		<!-- Linha 2 -->
		<div class="flex flex-row gap-3">
			<!-- Telefone -->
			<div class="flex flex-column w-full">
				<label for="fornecedor.pessoa.telefone">Telefone: <b style="color: red">*</b></label>
				<p-inputMask
					#fornecedorPessoaTelefone="ngModel"
					name="fornecedor.pessoa.telefone"
					data-cy="fornecedor.pessoa.telefone"
					[(ngModel)]="fornecedor.pessoa.telefone"
					[required]="true"
					mask="(99)99999-999?9"
					styleClass="w-full" />
				<small
					*ngIf="validacaoCamposService.campoInvalido(fornecedorPessoaTelefone)"
					style="color: red">
					<b>Telefone Inválido!</b> Os formatos devem ser:<br />
					<b>Celular:</b> (12)3456-7890<br />
					<b>Fixo:</b> (12)34567-8901
				</small>
			</div>

			<!-- E-Mail -->
			<div class="flex flex-column w-full">
				<label for="fornecedor.pessoa.email">E-Mail:</label>
				<input
					type="text"
					pInputText
					#fornecedorPessoaEmail="ngModel"
					name="fornecedor.pessoa.email"
					data-cy="fornecedor.pessoa.email"
					[(ngModel)]="fornecedor.pessoa.email" />
			</div>

			<!-- Estado -->
			<div class="flex flex-column w-full">
				<label for="fornecedor.pessoa.estadoBrasileiro">Estado:</label>
				<p-dropdown
					#fornecedorEstadoBrasileiro="ngModel"
					name="fornecedor.pessoa.estadoBrasileiro"
					data-cy="fornecedor.pessoa.estadoBrasileiro"
					[(ngModel)]="fornecedor.pessoa.estadoBrasileiro"
					[options]="estadosBrasileiro"
					styleClass="w-full"
					placeholder="Selecione um estado" />
			</div>
		</div>

		<!-- Endereço -->
		<div class="flex flex-row gap-3">
			<div class="flex flex-column w-full">
				<label for="fornecedor.endereco">Endereço:</label>
				<textarea
					pInputTextarea
					#fornecedorendereco="ngModel"
					name="fornecedor.endereco"
					data-cy="fornecedor.endereco"
					[(ngModel)]="fornecedor.endereco"
					[maxLength]="500"
					[autoResize]="true"
					style="width: 100%">
				</textarea>
			</div>
		</div>

		<!-- Salvar -->
		<p-button
			#fornecedorSalvar
			name="fornecedor-salvar"
			data-cy="fornecedor-salvar"
			[disabled]="fornecedorInvalido()"
			(onClick)="salvarForncedor()"
			label="Salvar Fornecedor"
			styleClass="w-full" />
	</form>
</p-dialog>
