<!-- Formulário do Agendamento -->
<!-- Menu Pop-Up Flutuante -->
<p-dialog
	*ngIf="exibirFormulario"
	[(visible)]="exibirFormulario"
	[modal]="true"
	[contentStyle]="{ overflow: 'visible' }"
	header="Cadastro de Agendamento"
	styleClass="min-w-max w-6">
	<!-- Formulário -->
	<form class="flex flex-column gap-3">
		<!-- Linha 1 -->
		<div class="flex flex-row gap-3">
			<!-- Data -->
			<div class="flex flex-column w-full">
				<label for="agendamento.data">Data do Agendamento: <b style="color: red">*</b></label>
				<p-calendar
					#agendamentoData="ngModel"
					name="agendamento.data"
					data-cy="agendamento.data"
					[(ngModel)]="agendamento.data"
					[minDate]="dataMinima"
					[showTime]="false"
					[showIcon]="true"
					[required]="true"
					dataType="string"
					dateFormat="dd/mm/yy"
					styleClass="w-full" />
				<small
					*ngIf="validacaoCamposService.campoInvalido(agendamentoData)"
					style="color: red">
					<b>Data Inválida!</b> A data deve ter o formato: <b>DD/MM/YYYY</b>!
				</small>
			</div>

			<!-- Hora -->
			<div class="flex flex-column w-full">
				<label for="agendamento.hora">Hora do Agendamento: <b style="color: red">*</b></label>
				<p-calendar
					#agendamentoHora="ngModel"
					name="agendamento.hora"
					data-cy="agendamento.hora"
					[(ngModel)]="agendamento.hora"
					[showTime]="true"
					[timeOnly]="true"
					[showIcon]="true"
					[required]="true"
					[showSeconds]="false"
					dataType="string"
					dateFormat="HH:mm:ss"
					styleClass="w-full" />
				<small
					*ngIf="validacaoCamposService.campoInvalido(agendamentoHora)"
					style="color: red">
					<b>Hora Inválida!</b> A hora deve ter o formato: <b>HH:MM</b>!
				</small>
			</div>

			<!-- Status -->
			<div
				*ngIf="agendamento.id"
				class="flex flex-column w-full">
				<label for="agendamento.status">Status:</label>
				<p-dropdown
					#agendamentoStatus="ngModel"
					name="agendamento.status"
					data-cy="agendamento.status"
					[(ngModel)]="agendamento.status"
					[options]="status"
					[required]="true"
					styleClass="w-full" />
			</div>
		</div>

		<!-- Linha 2 -->
		<div class="flex flex-row gap-3">
			<!-- Cliente -->
			<div class="flex flex-column w-full">
				<label for="agendamento.cliente">Cliente: <b style="color: red">*</b></label>
				<p-dropdown
					#agendamentoCliente="ngModel"
					name="agendamento.cliente"
					data-cy="agendamento.cliente"
					[(ngModel)]="agendamento.cliente"
					[ngClass]="{ 'ng-invalid ng-touched ng-dirty': validacaoCamposService.camposComPessoaInvalido(agendamentoCliente) }"
					[options]="clientes"
					[required]="true"
					styleClass="w-full"
					optionLabel="pessoa.nome"
					placeholder="Selecione um cliente" />
				<small
					*ngIf="validacaoCamposService.camposComPessoaInvalido(agendamentoCliente)"
					style="color: red">
					<b>Cliente Não Selecionado!</b>
				</small>
			</div>

			<!-- Serviço -->
			<div class="flex flex-column w-full">
				<label for="agendamento.servico">Serviço: <b style="color: red">*</b></label>
				<p-dropdown
					#agendamentoServico="ngModel"
					name="agendamento.servico"
					data-cy="agendamento.servico"
					[(ngModel)]="agendamento.servico"
					[ngClass]="{ 'ng-invalid ng-touched ng-dirty': validacaoCamposService.camposComPessoaInvalido(agendamentoServico) }"
					[options]="servicos"
					[required]="true"
					styleClass="w-full"
					optionLabel="nome"
					placeholder="Selecione um serviço" />
				<small
					*ngIf="validacaoCamposService.camposComPessoaInvalido(agendamentoServico)"
					style="color: red">
					<b>Serviço Não Selecionado!</b>
				</small>
			</div>

			<!-- Funcionário -->
			<div class="flex flex-column w-full">
				<label for="agendamento.funcionario">Funcionário: <b style="color: red">*</b></label>
				<p-dropdown
					#agendamentoFuncionario="ngModel"
					name="agendamento.funcionario"
					data-cy="agendamento.funcionario"
					[(ngModel)]="agendamento.funcionario"
					[ngClass]="{ 'ng-invalid ng-touched ng-dirty': validacaoCamposService.camposComPessoaInvalido(agendamentoFuncionario) }"
					[options]="funcionarios"
					[required]="true"
					styleClass="w-full"
					optionLabel="pessoa.nome"
					placeholder="Selecione um funcionário" />
				<small
					*ngIf="validacaoCamposService.camposComPessoaInvalido(agendamentoFuncionario)"
					style="color: red">
					<b>Funcionário Não Selecionado!</b>
				</small>
			</div>
		</div>

		<!-- Observações -->
		<div class="flex flex-column">
			<label for="agendamento.observacao">Observações:</label>
			<textarea
				pInputTextarea
				#agendamentoObservacao="ngModel"
				name="agendamento.observacao"
				data-cy="agendamento.observacao"
				[(ngModel)]="agendamento.observacao"
				[autoResize]="true"
				style="width: 100%"
				maxlength="500">
			</textarea>
		</div>

		<!-- Salvar -->
		<p-button
			#agendamentoSalvar
			name="agendamento-salvar"
			data-cy="agendamento-salvar"
			label="Salvar Agendamento"
			[disabled]="agendamentoInvalido()"
			(onClick)="salvarAgendamento()"
			styleClass="w-full" />
	</form>
</p-dialog>
