<p-dialog
	header="Cadastro de Agendamento"
	[contentStyle]="{ overflow: 'visible' }"
	[modal]="true"
	[style]="{ width: '50vw', height: '' }"
	[(visible)]="exibirFormulario"
	*ngIf="exibirFormulario">
	<form class="flex flex-column gap-3">
		<div class="flex flex-row gap-3">
			<div class="flex flex-column w-full">
				<label for="agendamento.data">Data do Agendamento: <b style="color: red">*</b></label>
				<p-calendar
					#agendamentoData="ngModel"
					[(ngModel)]="agendamento.data"
					data-cy="agendamento.data"
					name="agendamento.data"
					dateFormat="dd/mm/yy"
					dataType="string"
					[showTime]="false"
					[showIcon]="true"
					styleClass="w-full"
					[required]="true"
					[minDate]="dataMinima" />
				<small
					*ngIf="validacaoCamposService.campoInvalido(agendamentoData)"
					style="color: red">
					<b>Data Inválida!</b> A data deve ter o formato: <b>DD/MM/YY</b>!
				</small>
			</div>

			<div class="flex flex-column w-full">
				<label for="agendamento.hora">Hora do Agendamento: <b style="color: red">*</b></label>
				<p-calendar
					#agendamentoHora="ngModel"
					[(ngModel)]="agendamento.hora"
					data-cy="agendamento.hora"
					name="agendamento.hora"
					dateFormat="HH:mm:ss"
					[showTime]="true"
					[timeOnly]="true"
					[showSeconds]="false"
					[showIcon]="true"
					dataType="string"
					styleClass="w-full"
					[required]="true" />
				<small
					*ngIf="validacaoCamposService.campoInvalido(agendamentoHora)"
					style="color: red">
					<b>Hora Inválida!</b> A hora deve ter o formato: <b>HH:MM</b>!
				</small>
			</div>

			<div
				*ngIf="agendamento.id"
				class="flex flex-column w-full">
				<label for="agendamento.status">Status:</label>
				<p-dropdown
					[(ngModel)]="agendamento.status"
					field="agendamento.status"
					data-cy="agendamento.status"
					name="agendamento.status"
					[options]="status"
					[required]="true"
					styleClass="w-full" />
			</div>
		</div>

		<div class="flex flex-row gap-3">
			<div class="flex flex-column w-full">
				<label for="agendamento.cliente">Cliente: <b style="color: red">*</b></label>
				<p-dropdown
					#agendamentoCliente="ngModel"
					[(ngModel)]="agendamento.cliente"
					field="agendamento.cliente.nome"
					data-cy="agendamento.cliente"
					name="agendamento.cliente"
					[options]="clientes"
					optionLabel="pessoa.nome"
					styleClass="w-full"
					[required]="true"
					placeholder="Selecione um cliente" />
				<small
					*ngIf="validacaoCamposService.campoInvalido(agendamentoCliente)"
					style="color: red">
					<b>Cliente Não Selecionado!</b>
				</small>
			</div>

			<div class="flex flex-column w-full">
				<label for="agendamento.servico">Serviço: <b style="color: red">*</b></label>
				<p-dropdown
					#agendamentoServico="ngModel"
					[(ngModel)]="agendamento.servico"
					field="agendamento.servico.nome"
					data-cy="agendamento.servico"
					name="agendamento.servico"
					[options]="servicos"
					optionLabel="nome"
					styleClass="w-full"
					[required]="true"
					placeholder="Selecione um serviço"
					(onBlur)="(null)" />
				<small
					*ngIf="validacaoCamposService.campoInvalido(agendamentoServico)"
					style="color: red">
					<b>Serviço Não Selecionado!</b>
				</small>
			</div>

			<div class="flex flex-column w-full">
				<label for="agendamento.funcionario">Funcionário: <b style="color: red">*</b></label>
				<p-dropdown
					#agendamentoFuncionario="ngModel"
					[(ngModel)]="agendamento.funcionario"
					field="agendamento.funcionario.nome"
					data-cy="agendamento.funcionario"
					name="agendamento.funcionario"
					[options]="funcionarios"
					optionLabel="pessoa.nome"
					styleClass="w-full"
					[required]="true"
					placeholder="Selecione um funcionário" />
				<small
					*ngIf="validacaoCamposService.campoInvalido(agendamentoFuncionario)"
					style="color: red">
					<b>Funcionário Não Selecionado!</b>
				</small>
			</div>
		</div>

		<div class="flex flex-column">
			<label for="agendamento.observacao">Observações:</label>
			<textarea
				[(ngModel)]="agendamento.observacao"
				data-cy="agendamento.observacao"
				pInputTextarea
				style="width: 100%"
				[autoResize]="true"
				maxlength="500"
				name="agendamento.observacao">
			</textarea>
		</div>

		<p-button
			data-cy="agendamento.submit"
			label="Salvar Agendamento"
			styleClass="w-full"
			[disabled]="agendamentoInvalido()"
			(onClick)="salvarAgendamento()" />
	</form>
</p-dialog>
