<div class="px-3 pb-3">
	<p-table
		#dtAgendamentos
		[rows]="quantidadeOrdemServicosExibidosPorPagina"
		[lazy]="true"
		[value]="ordemServicos"
		[paginator]="true"
		[autoLayout]="true"
		[totalRecords]="quantidadeTotalOrdemServicos"
		[rowsPerPageOptions]="[10, 30, 50, 100]"
		[showCurrentPageReport]="true"
		(onLazyLoad)="mudarPagina($event)"
		currentPageReportTemplate="Mostrando do {first}º ao {last}º de {totalRecords} ordens de serviços"
		styleClass="p-datatable-gridlines">
		<ng-template pTemplate="caption">
			<!-- Barra do Topo da Tabela -->
			<div class="flex align-items-center justify-content-between">
				Ordens de Serviço
				<button
					pButton
					pRipple
					icon="pi pi-plus"
					label="Adicionar"
					class="p-button-primary"
					(click)="mostrarFormularioOrdensServicos()"></button>
			</div>
		</ng-template>

		<!-- Cabeçalho da Tabela -->
		<ng-template
			pTemplate="header"
			let-columns>
			<tr>
				<!-- Título de Cada Coluna -->
				<th class="align-middle text-center">ID</th>
				<th class="align-middle text-center">Data de Inicio</th>
				<th class="align-middle text-center">Data de Término</th>
				<th class="align-middle text-center">Status</th>
				<th class="align-middle text-center">Valor</th>
				<th class="align-middle text-center">Agendamento</th>
				<th class="align-middle text-center">Serviço</th>
				<th class="align-middle text-center">Responsável pela OS</th>
				<th class="align-middle text-center">Funcionário</th>

				<!-- Título da Coluna dos Botões de Ações -->
				<th class="align-middle text-center align-items-center">Ações</th>
			</tr>
		</ng-template>

		<!-- Tabela -->
		<ng-template
			pTemplate="body"
			let-item
			let-columns="columns">
			<tr>
				<!-- Itens da Tabela -->
				<td
					class="align-middle text-center"
					[title]="item.id">
					{{ item.id }}
				</td>
				<td
					class="align-middle text-center"
					[title]="item.dataHoraInicio">
					{{ item.dataHoraInicio }}
				</td>
				<td
					class="align-middle text-center"
					[title]="item.dataHoraTermino">
					{{ item.dataHoraTermino }}
				</td>
				<td
					class="align-middle text-center"
					[title]="item.status">
					{{ item.status }}
				</td>
				<td
					class="align-middle text-center"
					[title]="item.valor | currency : 'BRL' : 'symbol' : '1.2-2' : 'pt-BR'">
					{{ item.valor | currency : 'BRL' : 'symbol' : '1.2-2' : 'pt-BR' }}
				</td>
				<td
					class="align-middle text-center"
					[title]="'ID: ' + item.agendamento.id + ' - Data: ' + item.agendamento.data + ' Hora: ' + item.agendamento.hora">
					{{ 'ID: ' + item.agendamento.id + ' - Data: ' + item.agendamento.data + ' Hora: ' + item.agendamento.hora }}
				</td>
				<td
					class="align-middle text-center"
					[title]="item.servico.nome">
					{{ item.servico.nome }}
				</td>
				<td
					class="align-middle text-center"
					[title]="item.responsavelPelaOS.pessoa.nome">
					{{ item.responsavelPelaOS.pessoa.nome }}
				</td>
				<td
					class="align-middle text-center"
					[title]="item.executorServico.pessoa.nome">
					{{ item.executorServico.pessoa.nome }}
				</td>

				<!-- Botões de Ações de Cada Item da Tabela -->
				<td class="flex flex-row justify-content-around">
					<i
						class="pi pi-pencil pointer"
						data-cy="ordemServico-editar"
						style="font-size: 2rem; color: black !important"
						(click)="mostrarFormularioOrdensServicos(item)"></i>
					<i
						class="pi pi-trash pointer"
						data-cy="ordemServico-excluir"
						style="font-size: 2rem; color: red !important"
						(click)="verificarExclusao(item.id)"></i>
				</td>
			</tr>
		</ng-template>
	</p-table>

	<!-- Pop-Up de Confirmação da Exclusão -->
	<app-confirmar-exclusao nomeDoItemSendoExcluido="Ordem de Serviço" />
</div>
