<p-dialog
	*ngIf="exibirFormulario"
	[(visible)]="exibirFormulario"
	[modal]="true"
	[contentStyle]="{ overflow: 'visible' }"
	header="Cadastro de Serviço"
	styleClass="min-w-max w-6">
	<form class="flex flex-column gap-3">
		<!-- Linha 1 -->
		<div class="flex flex-row gap-3">
			<!-- Nome -->
			<div class="flex flex-column w-full">
				<label for="servico.nome">Nome: <b style="color: red">*</b></label>
				<input
					type="text"
					pInputText
					#servicoNome="ngModel"
					name="servico.nome"
					data-cy="servico.nome"
					[(ngModel)]="servico.nome"
					[required]="true"
					[maxLength]="100" />
				<small
					*ngIf="validacaoCamposService.campoInvalido(servicoNome)"
					style="color: red">
					<b>Nome Não Preenchido!</b>
				</small>
			</div>
		</div>

		<!-- Linha 2 -->
		<div class="flex flex-row gap-3">
			<!-- Preço de Custo -->
			<div class="flex flex-column w-full">
				<label for="servico.precoCusto">Preço de Custo: <b style="color: red">*</b></label>
				<p-inputNumber
					#servicoPrecoCusto="ngModel"
					name="servico.precoCusto"
					data-cy="servico.precoCusto"
					[(ngModel)]="servico.precoCusto"
					[max]="1000000"
					[min]="0"
					[step]="1"
					[ngClass]="{ 'ng-invalid ng-touched ng-dirty': validacaoCamposService.campoInvalido(servicoPrecoCusto) }"
					[allowEmpty]="false"
					[showButtons]="true"
					mode="currency"
					locale="pt-BR"
					currency="BRL"
					styleClass="w-full"
					spinnerMode="horizontal"
					buttonLayout="horizontal"
					incrementButtonIcon="pi pi-plus"
					decrementButtonIcon="pi pi-minus"
					decrementButtonClass="p-button-danger"
					incrementButtonClass="p-button-success" />
				<small
					*ngIf="validacaoCamposService.campoInvalido(servicoPrecoCusto)"
					style="color: red">
					<b>Preço de Custo Inválido!</b>
				</small>
			</div>

			<!-- Preço de Venda -->
			<div class="flex flex-column w-full">
				<label for="servico.precoVenda">Preço de Venda: <b style="color: red">*</b></label>
				<p-inputNumber
					#servicoPrecoVenda="ngModel"
					name="servico.precoVenda"
					data-cy="servico.precoVenda"
					[(ngModel)]="servico.precoVenda"
					[ngClass]="{ 'ng-invalid ng-touched ng-dirty': validacaoCamposService.campoInvalido(servicoPrecoVenda) }"
					[max]="1000000"
					[min]="0"
					[step]="1"
					[allowEmpty]="false"
					[showButtons]="true"
					mode="currency"
					locale="pt-BR"
					currency="BRL"
					styleClass="w-full"
					spinnerMode="horizontal"
					buttonLayout="horizontal"
					incrementButtonIcon="pi pi-plus"
					decrementButtonIcon="pi pi-minus"
					decrementButtonClass="p-button-danger"
					incrementButtonClass="p-button-success" />
				<small
					*ngIf="validacaoCamposService.campoInvalido(servicoPrecoVenda)"
					style="color: red">
					<b>Preço de Venda Inválido!</b>
				</small>
			</div>
		</div>

		<!-- Linha 3 -->
		<div class="flex flex-row gap-3">
			<!-- Descrição -->
			<div class="flex flex-column w-full">
				<label for="servico.descricao">Descrição:</label>
				<textarea
					pInputTextarea
					#servicoDescricao="ngModel"
					name="servico.descricao"
					data-cy="servico.descricao"
					[(ngModel)]="servico.descricao"
					[maxLength]="500"
					[autoResize]="true"
					style="width: 100%">
				</textarea>
			</div>
		</div>

		<!-- Salvar -->
		<p-button
			#servicoSalvar
			name="servico-salvar"
			data-cy="servico-salvar"
			[disabled]="servicoInvalido()"
			(onClick)="salvarServico()"
			label="Salvar Serviço"
			styleClass="w-full" />
	</form>
</p-dialog>
