<div class="py-4 flex flex-row justify-content-around container">
	<div class="align-items-center flex flex-column align-middle text-center gap-3">
		<img
			class="border-3"
			src="../../assets/images/Leonardo-Valadão.png"
			alt="Leonardo Valadão - Desenvolvedor" />
		<b><label for="Leonardo-Nome">Leonardo Valadão de Oliveira</label></b>
    <label for="Leonardo-Cargo">Desenvolvedor Full-Stack</label>
		<label for="Leonardo-Email">leonardovaladaooliveira@hotmail.com</label>
		<button
			pButton
			pRipple
			icon="pi pi-linkedin"
			label="LinkedIn"
			class="p-button-primary max-w-min"
			(click)="redirecionar('https://www.linkedin.com/in/leonardo-valad%C3%A3o-de-oliveira-877127195/')"></button>
		<img
			src="../../assets/images/Leonardo - QR Code - LinkedIn.png"
			alt="Leonardo - QR Code - LinkedIn" />
	</div>

	<div class="align-items-center flex flex-column align-middle text-center gap-3">
		<img
			class="border-3"
			src="../../assets/images/Marina-de-Souza.jpg"
			alt="Marina de Souza - Desenvolvedora" />
		<b><label for="Marina-Nome">Marina de Souza Martins</label></b>
    <label for="Marina-Cargo">Desenvolvedora Full-Stack</label>
		<label for="Marina-Email">marinadesouzamartins0@gmail.com</label>
		<button
			pButton
			pRipple
			icon="pi pi-linkedin"
			label="LinkedIn"
			class="p-button-primary max-w-min"
			(click)="redirecionar('https://www.linkedin.com/in/marinadesouzamartins')"></button>
		<img
			src="../../assets/images/Marina - QR Code - LinkedIn.png"
			alt="Marina - QR Code - LinkedIn.png" />
	</div>

	<div class="align-items-center flex flex-column align-middle text-center gap-3">
		<img
			class="border-3"
			src="../../assets/images/Douglas-Ferreira.jpg"
			alt="Douglas Ferreira - Desenvolvedor" />
		<b><label for="Douglas-Nome">Douglas Silva Ferreira</label></b>
    <label for="Douglas-Cargo">Analista de Requisitos</label>
		<label for="Douglas-Email">dsferreira.adm@gmail.com</label>
		<button
			pButton
			pRipple
			icon="pi pi-linkedin"
			label="LinkedIn"
			class="p-button-primary max-w-min"
			(click)="redirecionar('https://www.linkedin.com/in/dsferreiraadm')"></button>
		<img
			src="../../assets/images/Douglas - QR Code - LinkedIn.png"
			alt="Douglas - QR Code - LinkedIn" />
	</div>

	<div class="align-items-center flex flex-column align-middle text-center gap-3">
		<img
			class="border-3"
			src="../../assets/images/Nelson-Mendes.jpg"
			alt="Nelson Mendes - Desenvolvedor" />
		<b><label for="Nelson-Nome">Nelson Gomes Ferreira Mendes Neto</label></b>
    <label for="Douglas-Cargo">Quality Assurance</label>
		<label for="Nelson-Email">nelson_mendes@live.com</label>
		<button
			pButton
			pRipple
			icon="pi pi-linkedin"
			label="LinkedIn"
			class="p-button-primary max-w-min"
			(click)="redirecionar('https://www.linkedin.com/in/nelsongomees/')"></button>
		<img
			src="../../assets/images/Nelson - QR Code - LinkedIn.png"
			alt="Nelson - QR Code - LinkedIn" />
	</div>
</div>
