<aside
	class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary"
	style="width: max-content">
	<img
		src="../../assets/images/Logo.png"
		alt="Logo"
		style="width: 150px; height: auto" />

	<hr />

	<ul
		class="nav nav-pills mb-auto d-flex flex-column"
		style="width: max-content">
		<li
			routerLink="/agendamentos"
			class="d-flex flex-row gap-3 align-middle text-center align-items-center p-2">
			<i class="pi pi-calendar"></i>
			<a>Agendamentos</a>
		</li>
		<li
			routerLink="/clientes"
			class="d-flex flex-row gap-3 align-middle text-center align-items-center p-2">
			<i class="pi pi-users"></i>
			<a>Clientes</a>
		</li>
		<li
			routerLink="/servicos"
			class="d-flex flex-row gap-3 align-middle text-center align-items-center p-2">
			<i class="pi pi-tag"></i>
			<a>Serviços</a>
		</li>
		<li
			routerLink="/funcionarios"
			class="d-flex flex-row gap-3 align-middle text-center align-items-center p-2">
			<i class="pi pi-user"></i>
			<a>Funcionários</a>
		</li>
		<li
			routerLink="/contas-pagar"
			class="d-flex flex-row gap-3 align-middle text-center align-items-center p-2">
			<i class="pi pi-wallet"></i>
			<a>Contas a Pagar</a>
		</li>
		<li
			routerLink="/contas-receber"
			class="d-flex flex-row gap-3 align-middle text-center align-items-center p-2">
			<i class="pi pi-money-bill"></i>
			<a>Contas a Receber</a>
		</li>
		<li
			routerLink="/ordens-servicos"
			class="d-flex flex-row gap-3 align-middle text-center align-items-center p-2">
			<i class="pi pi-file"></i>
			<a>Ordens de Serviço</a>
		</li>
		<li
			routerLink="/fornecedores"
			class="d-flex flex-row gap-3 align-middle text-center align-items-center p-2">
			<i class="pi pi-box"></i>
			<a>Fornecedores</a>
		</li>
	</ul>
</aside>
