<aside
	class="flex flex-column flex-shrink-0 p-3"
	style="width: max-content">
	<img
		src="../../assets/images/Logo.png"
		alt="Logo"
		class="w-full h-full" />

	<hr />

	<ul class="m-0 p-0 list-none flex flex-column">
		<li
			routerLink="/agendamentos"
			class="flex flex-row gap-3 align-middle text-center align-items-center p-2 cursor-pointer ">
			<i class="pi pi-calendar"></i>
			<a>Agendamentos</a>
		</li>
		<li
			routerLink="/clientes"
			class="flex flex-row gap-3 align-middle text-center align-items-center p-2 cursor-pointer">
			<i class="pi pi-users"></i>
			<a>Clientes</a>
		</li>
		<li
			routerLink="/servicos"
			class="flex flex-row gap-3 align-middle text-center align-items-center p-2 cursor-pointer">
			<i class="pi pi-tag"></i>
			<a>Serviços</a>
		</li>
		<li
			routerLink="/funcionarios"
			class="flex flex-row gap-3 align-middle text-center align-items-center p-2 cursor-pointer">
			<i class="pi pi-user"></i>
			<a>Funcionários</a>
		</li>
		<li
			routerLink="/contas-pagar"
			class="flex flex-row gap-3 align-middle text-center align-items-center p-2 cursor-pointer">
			<i class="pi pi-wallet"></i>
			<a>Contas a Pagar</a>
		</li>
		<li
			routerLink="/contas-receber"
			class="flex flex-row gap-3 align-middle text-center align-items-center p-2 cursor-pointer">
			<i class="pi pi-money-bill"></i>
			<a>Contas a Receber</a>
		</li>
		<li
			routerLink="/ordens-servicos"
			class="flex flex-row gap-3 align-middle text-center align-items-center p-2 cursor-pointer">
			<i class="pi pi-file"></i>
			<a>Ordens de Serviços</a>
		</li>
		<li
			routerLink="/fornecedores"
			class="flex flex-row gap-3 align-middle text-center align-items-center p-2 cursor-pointer">
			<i class="pi pi-box"></i>
			<a>Fornecedores</a>
		</li>
	</ul>
</aside>
