<div class="p-4">
	<!-- Tabela PrimeNG -->
	<p-table
		[columns]="colunas"
		[value]="agendamentos"
		[(selection)]="agendamentosSelecionados"
		[paginator]="true"
		[totalRecords]="quantidadeTotalAgendamentos"
		[rows]="quantidadeAgendamentosExibidosPorPagina"
		[lazy]="true"
		[showCurrentPageReport]="true"
		[autoLayout]="true"
		[rowsPerPageOptions]="[10, 30, 50, 100]"
		(onLazyLoad)="mudarPagina($event)"
		currentPageReportTemplate="Mostrando do {first}º ao {last}º de {totalRecords} agendamentos"
		id="dtAgendamentos"
		styleClass="p-datatable-gridlines">
		<ng-template pTemplate="caption">
			<!-- Barra do Topo da Tabela -->
			<div class="d-flex align-items-center justify-content-between">
				Agendamentos
				<button
					pButton
					pRipple
					icon="pi pi-plus"
					label="Adicionar"
					class="p-button-primary"
					(click)="mostrarFormularioAgendamentos(null)"></button>
			</div>
		</ng-template>

		<!-- Cabeçalho da Tabela -->
		<ng-template
			pTemplate="header"
			let-columns>
			<tr>
				<!-- Botão de Selecionar Todos os Itens da Tabela -->
				<th class="flex align-items-center justify-content-between align-middle text-center">
					<p-tableHeaderCheckbox />
				</th>

				<!-- Título de Cada Coluna -->
				<th
					*ngFor="let col of columns"
					class="align-middle text-center">
					{{ col.header }}
				</th>

				<!-- Título da Coluna dos Botões de Ações -->
				<th class="align-middle text-center align-items-center">Ações</th>
			</tr>
		</ng-template>

		<!-- Tabela -->
		<ng-template
			pTemplate="body"
			let-item
			let-columns="columns">
			<!-- Botão de Selecionar o Item da Tabela (Individual) -->
			<tr>
				<td class="align-middle text-center">
					<p-tableCheckbox [value]="item" />
				</td>

				<!-- Itens da Tabela -->
				<td
					*ngFor="let col of columns"
					class="align-middle text-center">
					{{ item[col.field]['nome'] ? item[col.field]['nome'] : item[col.field] }}
				</td>

				<!-- Botões de Ações de Cada Item da Tabela -->
				<td class="align-middle text-center gap-3">
					<i
						class="pi pi-pencil"
						style="font-size: 2rem"
						(click)="mostrarFormularioAgendamentos(item)"></i>
					<i
						class="pi pi-trash ms-3"
						style="font-size: 2rem; color: rgb(255, 0, 0) !important"
						(click)="excluirAgendamento(item.id)"></i>
				</td>
			</tr>
		</ng-template>
	</p-table>
</div>
