<div class="px-3 pb-3">
	<!-- Tabela PrimeNG -->
	<p-table
		[value]="agendamentos"
		[(selection)]="agendamentosSelecionados"
		[paginator]="true"
		[totalRecords]="quantidadeTotalAgendamentos"
		[rows]="quantidadeAgendamentosExibidosPorPagina"
		[lazy]="true"
		[showCurrentPageReport]="true"
		[autoLayout]="true"
		[rowsPerPageOptions]="[10, 30, 50, 100]"
		(onLazyLoad)="mudarPagina($event)"
		currentPageReportTemplate="Mostrando do {first}º ao {last}º de {totalRecords} agendamentos"
		#dtAgendamentos
		styleClass="p-datatable-gridlines">
		<ng-template pTemplate="caption">
			<!-- Barra do Topo da Tabela -->
			<div class="flex align-items-center justify-content-between">
				Agendamentos
				<button
					pButton
					pRipple
					icon="pi pi-plus"
					label="Adicionar"
					class="p-button-primary"
					(click)="mostrarFormularioAgendamentos(null)"></button>
			</div>
		</ng-template>

		<!-- Cabeçalho da Tabela -->
		<ng-template
			pTemplate="header"
			let-columns>
			<tr>
				<!-- Título de Cada Coluna -->
				<th class="align-middle text-center">ID</th>
				<th class="align-middle text-center">Data</th>
				<th class="align-middle text-center">Horário</th>
				<th class="align-middle text-center">Status</th>
				<th class="align-middle text-center">Observação</th>
				<th class="align-middle text-center">Cliente</th>
				<th class="align-middle text-center">Funcionário</th>
				<th class="align-middle text-center">Serviço</th>

				<!-- Título da Coluna dos Botões de Ações -->
				<th class="align-middle text-center align-items-center">Ações</th>
			</tr>
		</ng-template>

		<!-- Tabela -->
		<ng-template
			pTemplate="body"
			let-item
			let-columns="columns">
			<tr>
				<!-- Itens da Tabela -->
				<td class="align-middle text-center">{{ item.id }}</td>
				<td class="align-middle text-center">{{ item.data }}</td>
				<td class="align-middle text-center">{{ item.hora }}</td>
				<td class="align-middle text-center">{{ item.status }}</td>
				<td class="align-middle text-center">{{ item.observacao }}</td>
				<td class="align-middle text-center">{{ item.cliente.pessoa.nome }}</td>
				<td class="align-middle text-center">{{ item.funcionario.pessoa.nome }}</td>
				<td class="align-middle text-center">{{ item.servico.nome }}</td>

				<!-- Botões de Ações de Cada Item da Tabela -->
				<td class="flex flex-row justify-content-around">
					<i
						class="pi pi-pencil"
						style="font-size: 2rem; color: black !important"
						(click)="mostrarFormularioAgendamentos(item)"></i>
					<i
						class="pi pi-trash"
						style="font-size: 2rem; color: red !important"
						(click)="excluirAgendamento(item.id)"></i>
				</td>
			</tr>
		</ng-template>
	</p-table>
</div>
