<div class="grid grid-cols-12  grid-nogutter surface-section text-800">
	<div class="col-span-10 md:col-span-10 p-6 text-center md:text-left flex align-items-center">
		
		<section>
			<span class="block text-6xl font-bold mb-1">BeautySync,</span>
			<div class="text-5xl mb-4 text-blue-500 font-bold">Seu gestor de negócio</div>
			<p class="mt-0 mb-1 text-2xl text-700 line-height-3 font-bold" > BeautySync é um sistema simples e eficiente que 
                 auxilia na gestão digital do seu negócio digitalizando processos. </p>
			<p class="mt-0 mb-4 text-2xl text-700 line-height-3 font-bold">  Ganhe tempo para se concentrar no principal, seu cliente! </p>
			
           

            <p class="mt-0 mb-4 text-2xl text-700 line-height-3 font-bold">
                <span class="pi pi-check-circle" style="font-size: 2rem; float: left; margin-right: 0.5rem; margin-left: 0.25rem;"></span>
                Eficiente
              </p>

            <p class="mt-0 mb-4 text-2xl text-700 line-height-3 font-bold">
                <span class="pi pi-check-circle" style="font-size: 2rem; float: left; margin-right: 0.5rem; margin-left: 0.25rem;"></span>
                Intuitivo
              </p>

            <p class="mt-0 mb-4 text-2xl text-700 line-height-3 font-bold">
                <span class="pi pi-check-circle" style="font-size: 2rem; float: left; margin-right: 0.5rem; margin-left: 0.25rem;"></span>
                Prático
              </p>

            <p class="mt-0 mb-4 text-2xl text-700 line-height-3 font-bold">
                <span class="pi pi-check-circle" style="font-size: 2rem; float: left; margin-right: 0.5rem; margin-left: 0.25rem;"></span>
                Multifuncional
              </p>
              
            <p class="mt-0 mb-4 text-2xl text-700 line-height-3 font-bold">
                <span class="pi pi-check-circle" style="font-size: 2rem; float: left; margin-right: 0.5rem; margin-left: 0.25rem;"></span>
                Facilitador
              </p>
              
           
              
              
			

			
		</section>
	</div>
    
</div>