<p-card class="text-4xl" header="Agradecimentos ">
	<p class="mb-4 font-bold text-2xl">Primeiramente, gostariamos de agradecer os nossos professores, que nos trouxeram um crescimento e aprendizado ímpar ao longo dessa jornada acadêmica.</p>
	<p class="m-1 font-bold">Professor Mestre Leonardo Pereira de Morais</p>
	<p class="m-1 font-bold">Coordenadora e Professora Especiliasta Kelly Alves Martins de Lima</p>
	<p class="m-1 font-bold">Professor Mestre Rafael Leal Martins</p>
	<p class="m-1 font-bold">Professor Mestre Gustavo Siqueira Vinhal</p>
	<p class="m-1 font-bold">Professor Doutor Roussian di Ramos Alves Gaioso</p>
	<p class="m-1 font-bold">Professor Mestre Itair Pereira Da Silva</p>
	<p class="m-1 font-bold">Professora Mestre Luciane Nunes Ribeiro</p>
	<p class="m-1 font-bold">Professora Especialista Tércia Duarte Almeida</p>

	<p class="m-1 font-bold">Professor Especialista Marcelo Faustino Rodrigues</p>

	<p class="m-1 font-bold">Professor Mestre Diego de Castilho Suckow Magalhães</p>

	<p class="m-1 font-bold">Professor Especialista Winder Cesar Mendes</p>

	<p class="m-1 font-bold">Professor Especialista Marcos André Galdino Morais</p>

	<p class="mb-4 font-bold text-2xl">Um agradecimento mais que especial aos integrantes desse grupo, por todo esforço, paciência, garra e parceria.
    </p>
    <p class="m-1 font-bold">Leonardo Valadão de Oliveira</p>
    <p class="m-1 font-bold">Marina de Souza Martins</p>
    <p class="m-1 font-bold">Douglas Silva Ferreira</p>
    <p class="m-1 font-bold">Nelson Gomes Ferreira Mendes Neto</p>

    <p class="mb-4 font-bold text-2xl">Não poderiamos deixar de agardecer aos nossos calorosos colegas de classe.
    </p>
    <p class="m-1 font-bold">Gustavo</p>
    <p class="m-1 font-bold">Divino</p>
    <p class="m-1 font-bold">Saulo</p>
    <p class="m-1 font-bold">Alessandro</p>

    <p class="mb-4 font-bold text-3xl">Obrigada!

   



</p-card>
