<p-dialog
	header="Cadastro de Cliente"
	[contentStyle]="{ overflow: 'visible' }"
	[modal]="true"
	styleClass="min-w-max w-6"
	[(visible)]="exibirFormulario"
	*ngIf="exibirFormulario">
	<form class="flex flex-column gap-3">
		<div class="flex flex-row gap-3">
			<div class="flex flex-column w-full">
				<label for="cliente.nome">Nome: <b style="color: red">*</b></label>
				<input
					type="text"
					pInputText
					#clienteNome="ngModel"
					[(ngModel)]="cliente.pessoa.nome"
					name="cliente.nome"
					data-cy="cliente.nome" />
				<small
					*ngIf="validacaoCamposService.campoInvalido(clienteNome)"
					style="color: red">
					<b>Nome Inválido!</b>
				</small>
			</div>

			<div class="flex flex-column w-full">
				<label for="cliente.tipoPessoa">Tipo de Pessoa: <b style="color: red">*</b></label>
				<p-dropdown
					#clienteTipoPessoa="ngModel"
					[(ngModel)]="cliente.pessoa.tipoPessoa"
					[options]="tiposPessoas"
					[required]="true"
					(onChange)="modificarMascaraCpfOuCnpj()"
					field="cliente.pessoa.tipoPessoa"
					data-cy="cliente.pessoa.tipoPessoa"
					name="cliente.pessoa.tipoPessoa"
					styleClass="w-full" />
				<small
					*ngIf="validacaoCamposService.campoInvalido(clienteTipoPessoa)"
					style="color: red">
					<b>Tipo Pessoa Inválido!</b>
				</small>
			</div>

			<div class="flex flex-column w-full">
				<label for="cliente.pessoa.cpfOuCnpj">CPF / CNPJ: <b style="color: red">*</b></label>
				<p-inputMask
					#clientePessoaCpfOuCnpj="ngModel"
					[(ngModel)]="cliente.pessoa.cpfOuCnpj"
					[mask]="mascaraCpfCnpj"
					name="cliente.pessoa.cpfOuCnpj"
					data-cy="cliente.pessoa.cpfOuCnpj"
					styleClass="w-full" />
			</div>
			<small
				*ngIf="validacaoCamposService.campoInvalido(clientePessoaCpfOuCnpj)"
				style="color: red">
				<b>CPF / CNPJ Inválido!</b> Os formatos devem ser: <b>CPF: 123.456.789-01 / CNPJ: 12.345.678/9012-34!</b>
			</small>
		</div>

		<div class="flex flex-row gap-3">
			<div class="flex flex-column w-full">
				<label for="cliente.telefone">Telefone: <b style="color: red">*</b></label>
				<p-inputMask
					#clientePessoaTelefone="ngModel"
					[(ngModel)]="cliente.pessoa.telefone"
					mask="(99)99999-999?9"
					field="cliente.pessoa.telefone"
					name="cliente.pessoa.telefone"
					data-cy="cliente.pessoa.telefone"
					styleClass="w-full" />
				<small
					*ngIf="validacaoCamposService.campoInvalido(clientePessoaCpfOuCnpj)"
					style="color: red">
					<b>Telefone Inválido!</b> Os formatos devem ser: <b>Celular: (12)3456-7890 / Fixo: (12)34567-8901!</b>
				</small>
			</div>

			<div class="flex flex-column w-full">
				<label for="cliente.email">E-Mail:</label>
				<input
					type="text"
					pInputText
					[(ngModel)]="cliente.pessoa.email"
					name="cliente.email"
					data-cy="cliente.email" />
			</div>

			<div class="flex flex-column w-full">
				<label for="cliente.estadoBrasileiro">Estado:</label>
				<p-dropdown
					[(ngModel)]="cliente.pessoa.estadoBrasileiro"
					field="cliente.estadoBrasileiro"
					data-cy="cliente.estadoBrasileiro"
					name="cliente.estadoBrasileiro"
					[options]="estadosBrasileiro"
					placeholder="Selecione um estado"
					styleClass="w-full" />
			</div>
		</div>

		<div class="flex flex-column w-full">
			<label for="cliente.alergias">Alergias:</label>
			<textarea
				pInputTextarea
				#clienteAlergias="ngModel"
				[(ngModel)]="cliente.alergias"
				[maxLength]="500"
				[autoResize]="true"
				style="width: 100%"
				field="cliente.alergias"
				data-cy="cliente.alergias"
				name="cliente.alergias">
			</textarea>
		</div>

		<p-button
			data-cy="cliente.submit"
			label="Salvar Cliente"
			styleClass="w-full"
			[disabled]="clienteInvalido()"
			(onClick)="salvarCliente()" />
	</form>
</p-dialog>
