<p-dialog
	header="Cadastro de Cliente"
	[contentStyle]="{ overflow: 'visible' }"
	[modal]="true"
	[style]="{ width: '50vw', height: '' }"
	[(visible)]="exibirFormulario"
	*ngIf="exibirFormulario">
	<form class="d-flex flex-column gap-3">
		<div class="d-flex flex-row gap-3">
			<div class="d-flex flex-column w-100">
				<label for="cliente.nome">Nome:</label>
				<input
					type="text"
					pInputText
					[(ngModel)]="cliente.nome"
					name="cliente.nome"
					data-cy="cliente.nome" />
			</div>

			<div class="d-flex flex-column w-100">
				<label for="cliente.cpf">CPF:</label>
				<p-inputMask
					mask="999.999.999-99"
					[(ngModel)]="cliente.cpf"
					name="cliente.cpf"
					data-cy="cliente.cpf"
					styleClass="w-100" />
			</div>

			<div class="d-flex flex-column w-100">
				<label for="cliente.estadoBrasileiro">Estado:</label>
				<p-dropdown
					[(ngModel)]="cliente.estadoBrasileiro"
					field="cliente.estadoBrasileiro"
					data-cy="cliente.estadoBrasileiro"
					name="cliente.estadoBrasileiro"
					[options]="estadosBrasileiro"
					styleClass="w-100" />
			</div>
		</div>

		<div class="d-flex flex-row gap-3">
			<div class="d-flex flex-column w-75">
				<label for="cliente.email">E-Mail:</label>
				<input
					type="text"
					pInputText
					[(ngModel)]="cliente.email"
					name="cliente.email"
					data-cy="cliente.email" />
			</div>

			<div class="d-flex flex-column w-50">
				<label for="cliente.telefone">Telefone:</label>
				<p-inputMask
					mask="(99)99999-999?9"
					[(ngModel)]="cliente.telefone"
					name="cliente.telefone"
					data-cy="cliente.telefone"
					styleClass="w-100" />
			</div>
		</div>

		<div class="d-flex flex-column">
			<label for="cliente.alergias">Alergias:</label>
			<textarea
				[(ngModel)]="cliente.alergias"
				data-cy="cliente.alergias"
				pInputTextarea
				name="cliente.alergias">
			</textarea>
		</div>

		<p-button
			data-cy="cliente.submit"
			label="Salvar Cliente"
			styleClass="w-100"
			(onClick)="salvarCliente()" />
	</form>
</p-dialog>
