<p-toast
	key="toast"
	styleClass="w-auto"
	toaster-options="{'body-output-type': 'trustedHtml'}" />

<div class="flex flex-column">
	<div class="flex flex-row">
		<app-painel-lateral style="background-color: #f8f9fa" />
		<div class="flex flex-column w-screen">
			<app-cabecalho style="background-color: #f8f9fa" />
			<div class="border-1 border-black-alpha-10" style="min-height: 92.8vh; background-color: white;">
				<router-outlet />
			</div>
		</div>
	</div>
	<app-rodape style="background-color: #f8f9fa" />
</div>
